.upload-page{
    background-color: var(--main-bg-color);
    border-radius: var(--placeholder-border-radius);
    box-shadow: 1px 1px 10px 5px #eee, -1px -1px 10px 5px  #eee;
    padding: var(--major-padding);
    max-width: var(--screen-min-width);
    max-height: var(--screen-min-h);
}

.upload-page .or{
    margin: 20px 0;
    font-size: 0.7rem;
    color: #aaa;
}

.top-title-container{
    margin: 20px;
}
.top-title-container .text.txt1{
    font-weight: 600;
    font-size: 1.2rem;
    margin: 0;
}

.top-title-container .text.txt2{
    color: grey;
    margin: 20px 0px;
    font-size: 0.7rem;
}

.top-title-container img.marked-green{
 border-radius: 50%;
 max-width: 35px;
 background-color: green;
 color: white;
 padding: 5px;
}


.upload-container{
    border-radius: var(--placeholder-border-radius);
    padding: 0;
}

.upload-container.placeholder{
    padding: 20px 100px;
}
.upload-container.placeholder{
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='17' ry='17' stroke='rgba(170, 160, 240)' stroke-width='2' stroke-dasharray='8%2c 12' stroke-dashoffset='20' stroke-linecap='square'/%3e%3c/svg%3e");
    background-color: var(--dotted-bg);
}

.upload-container:hover{
    opacity: 0.8;
}


.upload-container.nonplace img.image{
    max-width: var(--result-image-w);
    height: 200px;
    margin: 0;
    border-radius: var(--placeholder-border-radius);
}

.upload-container.placeholder img.image{
    margin: 10px 0;
}

.upload-container.placeholder img.image.placeholder{

}




.upload-container .action-txt{
    color: #aaa;
    font-size: 0.7rem;
    margin: 20px 0 0;
}

.loading-bar-container{
    width: 30vw;
    min-height: 100px;
    text-align: left;
    box-shadow: 1px 1px 10px 5px #eee, -1px -1px 10px 5px  #eee;
    padding: 30px 20px;
}

.loading-bar-container .loading-text{
    font-size: 1.5rem;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 30px;
}


@media (max-width: 800px){
    .loading-bar-container{
        min-width: 80vw;
    }
}

.copy{
    display: flex;
    width: var(--result-image-w);
    padding: 2px;
    border: 2px solid #ccc;
    justify-content: space-between;
    border-radius: 8px;
    margin: 30px 0;
    background-color: #eee;
    font-size: 0.6rem;
    align-items: center;
}
.copy .image-url{
    display: inline-block;
    margin: 5px;
}
.copy .btn{
    padding: 12px 20px;
    font-size: 0.6rem;
    margin: 0;
}


@media (max-width: 800px){
    .upload-container.placeholder{
        padding: 20px 80px;
    }
}